@font-face {
  font-family: winkjs;
  src: url(../fonts/winkjs.eot) format("embedded-opentype"),
       url(../fonts/winkjs.woff2) format("woff2"),
       url(../fonts/winkjs.woff) format("woff");
}

body {
    font-family: 'ff-tisa-sans-web-pro', serif;
}

a {
	color: #6C307D;
}

a:hover {
	color: #860278;
}

#packages-list {
  background: #eee;
  padding-top: 140px;
}

#packages-list dt {
  margin-top: 100px;
  font-size: 2.5rem;
}

#packages-list dd {
  display: block;
  height: 3rem;
}

#packages-list dd a {
  font-size: 1.5rem;
}

header {
  background-color: #fff;
}

.masthead {
  padding-top: 150px;
  padding-bottom: 100px;
}

.masthead h2 {
  text-align: center;
  margin-top: 10rem;
}

header h1 {
  font-size: 65px;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
}

header h1 span {
  font-size: 80px;
  text-transform: uppercase;
  border: 7px solid #333;
  display: inline-block;
  margin-left: -35px;
  margin-top: 0;
  padding: 23px;
  color: #333;
}

header h2 {
  font-size: 40px;
}

header h2 em {
  color: #6C307D;
  font-style: normal;
  font-family: 'winkjs';
}

header p {
	font-size: 1.5em;
	margin-top: 30px;
}

.navbar {
  border-radius: 0;
  border-top: 4px solid #6C307D;
  padding: 10px 0 15px 0;
}

.navbar .navbar-nav > li > a {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
}

.navbar .navbar-nav > li > a.selected {
  color: #aaa;
}

.navbar .navbar-brand {
  font-family: 'ff-tisa-sans-web-pro', serif;
  font-weight: bold;
  color: #fff;
  font-size: 30px;
}

.navbar .navbar-brand {
  font-family: 'winkjs';
  letter-spacing: 0.4rem;
  font-weight: 100;
}

#logo {
	height: 250px;
	margin: 50px 0;
}

.feat {
  background: #eee;
  text-align: center;
  padding-bottom: 60px;
  margin-bottom: 80px;
  font-size: 1.6rem;
}

.feat h3 {
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 700;
}

.featimg {
  display: block;
  margin: 40px auto;
}

main {
	margin: 30px 0;
	padding: 30px 0;
	font-family: 'ff-tisa-sans-web-pro', sans-serif;
	font-size: 1.1em;
	line-height: 1.3em;
}

main .row {
	margin-top: 30px;
}

main h1 {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	color: #222;
}

main p {
	margin: 0;
	margin-bottom: 0px;
	padding: 0;
	text-align: left;

	color: #222;
	padding-top: 10px;
	font-size: 18px;
	line-height: 28px;
}

pre {
  background-color: #fff;
  border: none;
  border-radius: 0;
  padding: 1px;
}

footer {
	min-height: 60px;
	font-size: 14px;
	color: #666;
  background: #fafafa;
}

footer p {
	margin-top: 20px;
}

footer p em {
	float: right;
}

footer .social-icons ul li {
  position: relative;
  list-style: none;
  display: inline;
  float: right;
}

footer .social-icons ul li a {
  opacity: 0.5;
}

footer .social-icons ul li a:hover {
  opacity: 1;
}

footer .social-icons ul li a img {
  width: 40px;
  margin: 10px;
}

a.btn-default[role="button"] {
  border-radius: 3px;
  background: #6C307D;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: 0.3s ease box-shadow;
  margin-top: 10px;
}

a.btn-default[role="button"]:hover {
  box-shadow: 0 0 10px #C3ABCA;
}

.signup {
  margin-top: 120px;
  background: #6c307d;
  color: #fff;
  padding: 120px 0;
}

.signup .msg {
  text-align: right;
}


.signup input[type="email"] {
  border: none;
  color: white;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
  font-size: 2rem;
  background-color: transparent;
  margin-top: 25px;
}


.signup input[type="email"]::placeholder {
  color: #ccc;
}

.signup input[type="email"]:-webkit-autofill,
.signup input[type="email"]:focus {
  outline: none;
}


.signup input[type="submit"] {
  color: #6c307d;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 60px;
  font-weight: 700;
  text-transform: uppercase;
}

#viz {
  margin-top: 40px;
}

#viz td {
  height: 24px;
  width: 24px;
  text-align: center;
  vertical-align: middle;
}

.bubble {
  margin: auto auto;
  border-radius: 100%;
  transition: all 1s ease;
}

.bubble.off {
  height: 18px;
  width: 18px;
  background: #fff;
}

.bubble.on {
  height: 18px;
  width: 18px;
  background: #ddd;
}

.bubble.black {
  background: #000;
}

.bubble.wink {
  height: 18px;
  width: 18px;
  background: #6C307D;
  opacity: 0.3;
}
