<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Use title if it's in the page YAML frontmatter -->
    <%
      title = "winkNLP - NLP in Node.js"
      if current_page.data.title then
        title = current_page.data.title + " : " + title
      end
    %>
    <title><%= title  %></title>

    <script src="/wink-nlp/scripts/prettify/prettify.js"></script>
    <script src="/wink-nlp/scripts/prettify/lang-css.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="/wink-nlp/styles/prettify.css">
    <link type="text/css" rel="stylesheet" href="/wink-nlp/styles/jsdoc.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47082559-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-47082559-2');
  </script>
  <script src="https://use.typekit.net/cwc1qce.js"></script>
  <script>
    ((window.gitter = {}).chat = {}).options = {
      room: 'winkjs/Lobby'
    };
    window.onload = function () {
      document.querySelector('.gitter-open-chat-button').innerText = 'Need help?'
      document.querySelector('.gitter-open-chat-button').style.display = 'block';
    }
  </script>
  <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <style media="screen">
    .navbar {
      border-top: 4px solid #6C307D;
      box-sizing: border-box;
      height: 64px;
      background-color: #222;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
      display: flex;
      justify-content: space-between;
    }

    .navbar-header {
      font-weight: bold;
      font-size: 30px;
    }

    .navbar-header a img {
      height: 24px;
    }

    .navbar a {
      color: #fff;
      line-height: 60px;
      margin-left: 0;
    }

    .navbar a.navbar-brand {
      margin-left: 20px;
      display: block;
      min-width: 40px;
    }

    .navbar-right {
      margin: 0;
      line-height: 50px;
      list-style: none;
    }

    .navbar-right li {
      float: left;
      margin-right: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding-left: 20px;
      font-size: 14px;
    }

    /* Override docdash */
    #main {
      margin-top: 30px;
    }

    /* Gitter */
    .gitter-open-chat-button {
      background: #6C307D;
      display: none;
    }

    .gitter-open-chat-button:hover {
      opacity: 0.8;
      background: #6C307D;
    }

    .gitter-chat-embed {
      top: 64px;
    }

    .leave-feedback-button {
      right: 175px;
      background: #6C307D;
      color: #fff;
      z-index: 100;
      position: fixed;
      bottom: 0;
      padding: 1em 3em;
      border: 0;
      border-top-left-radius: .5em;
      border-top-right-radius: .5em;
      font-family: sans-serif;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      cursor: hand;
      transition: all .3s ease;
  }

  @media screen and (min-width: 0px) and (max-width: 720px) {
    .leave-feedback-button{ display: none !important; }
  }
  </style>

  <script type="text/javascript">
    window.addEventListener('DOMContentLoaded', function () {
      if ( window.location.hash ) {
        openMember();
        window.setTimeout( function () {
          window.scrollTo( 0, (window.pageYOffset || document.documentElement.scrollTop) - 72);
        }, 0)
      }

      document.getElementById('toc-button').addEventListener('click', function () {
        if (document.getElementById('side-nav').className === '') {
          document.getElementById('side-nav').className = 'is-open';
          document.getElementById('toc-button-img').setAttribute('src','./images/ui/close.svg');
        } else {
          document.getElementById('side-nav').className = '';
          document.getElementById('toc-button-img').setAttribute('src','./images/ui/menu.svg');
        }
      })
    });

    window.addEventListener( 'hashchange', function (e) {
      e.stopPropagation();
      openMember();
    } );

    function openMember() {
      var id = window.location.hash.substr(1),
      toggler = document.getElementById( id ),
      offset = toggler.getBoundingClientRect().top,
      y = window.scrollY + offset - 62 - 10;
      window.scrollTo(0, y);
    }
  </script>

  <header>
    <div class="navbar">
      <div class="navbar-header">
        <a href="https://winkjs.org/" title="wink" class="navbar-brand">
          <img src="https://winkjs.org/images/logo.svg">
          <span>wink</span>
        </a>
      </div>
      <div class="sausage-links">
        <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="main-nav">
          <li><a href="https://winkjs.org/packages.html" class="">Packages</a></li>
          <li><a href="https://winkjs.org/showcase.html" class="">Showcase</a></li>
          <li><a href="https://winkjs.org/blog.html" class="">Blog</a></li>
          <li><a href="http://github.com/winkjs">Github</a></li>
          <li><a href="https://winkjs.org/about.html" class="">About</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div id="toc-button">
    <img src="./images/ui/menu.svg" alt="" id="toc-button-img">
  </div>

  <div class="content-container">
    <div class="main-container">
      <div id="main">
        <section>
          <article>
            <%= yield %>
          </article>
        </section>
      </div>
    </div>

    <nav id="side-nav">
      <h2><a href="/wink-nlp/">Overview</a></h2>
      <h2><a href="https://github.com/winkjs/wink-nlp">Github</a></h2>

      <h3>Concepts</h3>
      <ul>
        <li><a href="getting-started.html">Getting started</a></li>
        <li><a href="document.html">Document</a></li>
        <li><a href="collection.html">Collection</a></li>
        <li><a href="item.html">Item & its properties</a></li>
        <li><a href="leveraging-out.html">Leveraging .out()</a></li>
        <li><a href="visualizing-markup.html">Visualizing using markup</a></li>
        <li><a href="custom-entities.html">Custom Entities</a></li>
      </ul>

      <h3>API</h3>
      <ul>
        <li><a href="read-doc.html">readDoc</a></li>
        <li><a href="learn-custom-entities.html">learnCustomEntities</a></li>
        <li><a href="sentences.html">sentences</a></li>
        <li><a href="entities.html">entities</a></li>
        <li><a href="custom-entities-method.html">customEntities</a></li>
        <li><a href="tokens.html">tokens</a></li>
        <li><a href="out.html">out</a></li>
        <li><a href="each.html">each</a></li>
        <li><a href="length.html">length</a></li>
        <li><a href="item-at.html">itemAt</a></li>
        <li><a href="filter.html">filter</a></li>
        <li><a href="markup.html">markup</a></li>
        <li><a href="index-method.html">index</a></li>
        <li><a href="parent-document.html">parentDocument</a></li>
        <li><a href="parent-sentence.html">parentSentence</a></li>
        <li><a href="parent-entity.html">parentEntity</a></li>
        <li><a href="parent-custom-entity.html">parentCustomEntitiy</a></li>
        <li><a href="its-as-helper.html">its & as helper</a></li>
        <li><a href="part-of-speech.html">Part-of-Speech tags</a></li>
      </ul>

      <!--
      <h3>Guides</h3>
      <ul>
        <li><a href="#">How to compute similarity between two documents?</a></li>
        <li><a href="#">How to find date are time in text?</a></li>
        <li><a href="#">How to find addresses in text?</a></li>
        <li><a href="#">How to get rid of punctuations?</a></li>
        <li><a href="#">How to get rid of stop words?</a></li>
      </ul>

      <h3>API</h3>
      <ul>
        <li><a href="#">winkNLP</a></li>
        <li><a href="#">collection</a></li>
        <ul>
          <li><a href="#">document</a></li>
          <li><a href="#">sentences</a></li>
          <li><a href="#">tokens</a></li>
          <li><a href="#">entities</a></li>
        </ul>
        <li><a href="#">item</a></li>
        <ul>
          <li><a href="#">sentence</a></li>
          <li><a href="#">token</a></li>
          <li><a href="#">entity</a></li>
        </ul>
      </ul>
       -->
    </nav>
  </div>

  <br class="clear">

  <footer>
    <p> &copy; <a href="http://graype.in">graype systems</a> pvt. ltd. </p>
  </footer>

  <script>prettyPrint();</script>
  <script src="scripts/linenumber.js"></script>

  <script src="https://embed.runkit.com"></script>
  <script type="text/javascript">
    var els = document.getElementsByClassName("runkit");

    Array.prototype.forEach.call(els, function(el) {
      // Do stuff here
      var source = el.innerHTML;
      el.innerHTML = '';
      var n = RunKit.createNotebook( {
        element: el,
        source: source
      } );
    });
  </script>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLScormuaSPmnZ_jD2hqNXlfoj_vKDw-LKZ1rE69MCi9kaBGvGw/viewform?entry.754933393=<%= current_page.url %>" target="_blank" class="leave-feedback-button" style="display: block;">Leave feedback</a>
</body>
</html>
