<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>
          &copy; <a href="http://graype.in">graype systems</a>
        </p>
      </div>

      <div class="col-md-6 social-icons">
        <ul>
          <li>
            <a href="https://twitter.com/winkjs_org/">
              <img src="images/twitter.png" alt="twitter" class="twitter">
            </a>
          </li>
          <li>
            <a href="https://github.com/winkjs">
              <img src="images/github.png" alt="github" class="github">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
