<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" title="wink" class="navbar-brand">
          32
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right hidden-sm hidden-md hidden-xs">
        <li><a href="/packages.html">Packages</a></li>
        <li><a href="http://github.com/winkjs">Github</a></li>
        <li><a href="https://twitter.com/winkjs_org">Twitter</a></li>
        <li><a href="http://graype.in/">About</a></li>
      </ul>
    </div>
  </nav>
</header>
