<div class="container blog">
  <article class="col-md-8 col-md-offset-2">
    <main>
      <h2>About</h2>

      <p>Wink is a family of open source packages for <strong>Statistical Analysis</strong>, <strong>Natural Language Processing</strong> and <strong>Machine Learning</strong> in NodeJS. The code is <strong>thoroughly documented</strong> for easy human comprehension and has a <strong>test coverage of ~100%</strong> for reliability to build production grade solutions.</p>

      <p>This is an initiative from <a href="http://graype.in/">Graype Systems</a>, where we are open sourcing our code that has been used in solving real-life business problems along with new development.</p>

      <h3>Licensing</h3>
      <p>All wink packages are licensed under the under the terms of the MIT license.</p>
      <p><a href="mailto:contactus@graype.in">ContactUs@Graype.in</a> if you require assistance, consulting, training or different type of licensing.</p>
    </main>
  </article>
</div>

<br><br><br><br>&nbsp;
