<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>

<header>
  <div class="container masthead" id="masthead">
    <div class="row">
      <p class="hero">
        Developer friendly<br>
        Natural Language Processing
      </p>
      <p>The right balance of performance and accuracy in Node.js</p>
      <br><br>
      <a href="https://www.npmjs.com/package/wink-nlp" class="cta">Download</a>
      <a href="/wink-nlp/getting-started.html" class="cta">Get started</a>
    </div>
  </div>
  <div id="particles-js"></div>
</header>

<main class="container">

  <div class="row">
    <div class="col-md-12">
      <p class="subhero">
        Build amazing applications quickly
      </p>
    </div>
  </div>

  <div class="highlight-section">
    <div class="col-md-6 highlight">
      <h2>Multiple Models</h2>
      <p>
        We have a
        <a href="https://github.com/winkjs/wink-eng-lite-model">light model for English</a>
        with many more on the way! Looking for something domain
        specific, or for a particular language? Feel free to
        <a href="mailto:contactus@graype.in">get in touch</a>!
      </p>

      <br><br><br><br><br><br>
      <h2>All the NLP you’ll need</h2>
      <p>
        Powerful NLP functions and helpers to get you directly what you need.
        Whether its
        <a href="https://winkjs.org/wink-nlp/part-of-speech.html">POS tags</a>
        , sentiment analysis, <a href="http://localhost:4567/wink-nlp/custom-entities.html">custom entities</a>, or getting a list of frequent words, it’s
        <a href="https://winkjs.org/wink-nlp/its-as-helper.html">all right here</a>!
      </p>

      <br><br><br><br><br><br>
      <h2>Easy to use API</h2>
      <p>
        An intuitive API lets you get started quick and get the results you’re
        looking for.
        <ul>
          <li>Quickly access the document's <code><a href="/wink-nlp/entities.html">entities</a></code>, <code><a href="/wink-nlp/sentences.html">sentences</a></code> and <code><a href="/wink-nlp/tokens.html">tokens</a></code>.</li>
          <li>Use familiar functions like
          <a href="https://winkjs.org/wink-nlp/each.html"><code>each</code></a>
          and <a href="https://winkjs.org/wink-nlp/filter.html"><code>filter</code></a>, or
          <a href="https://winkjs.org/wink-nlp/out.html"><code>output</code></a>
          to native JavaScript data types.</li>
          <li>Built-in visualization support with <a href="http://localhost:4567/wink-nlp/visualizing-markup.html"><code>markup</code></a>.</li>
        </ul>
      </p>
    </div>
    <div class="col-md-6 flip-order">
      <pre><code class="javascript">const winkNLP = require('wink-nlp');
const its = require('wink-nlp/src/its.js');
const as = require('wink-nlp/src/as.js');
const model = require('wink-eng-lite-model');
const nlp = winkNLP(model);





const doc = nlp.readDoc(text);
// This runs all core NLP tasks like
// tokenization, sentence boundary
// detection, negation handling, sentiment
// analysis, part-of-speech tagging, and
// named and custom entitiy extraction.





var timeline = [];
doc
  .entities()
  .filter( e => e.out( its.type ) === 'DATE')
  .each( e => {
    timeline.push({
      sentence: e
        .parentSentence()
        .out( its.markedUpText ),
      date: e.out(),
      unixTime: new Date(e.out()).getTime()
    })
  });

timeline.sort( (a, b) => {
  return a.unixTime - b.unixTime
});
</code></pre>
    </div>
  </div>
</main>

<main class="container-fluid timeline-output">
  <div class="container">
    <h2>Text to Timeline</h2>
    <p>
      The above code takes text input and generates a timeline.
      <br>
      The following is
      from the <a href="https://en.wikipedia.org/wiki/NASA">NASA Wikipedia Article</a>.
    </p>
    <br><br>
    <a href="https://winkjs.org/showcase-timeline/" class="cta">See Demo</a>
    <a href="/wink-nlp/getting-started.html" class="cta">Get started</a>
  </div>
  <a href="https://winkjs.org/showcase-timeline/"><img src="/images/timeline.png" alt="sample of a timeline output"></a>
</main>

<main class="container">
  <div class="row about-stats">
    <div class="col-md-4">
      <a href="https://github.com/winkjs/wink-nlp/blob/master/README.md#speed--accuracy">
        <img src="/images/speed.svg" alt="">
      </a>
      <h3>+500,000 tokens/second</h3>
      Full NLP pipeline - tokenization, SBD, sentiment analysis, POS and <a href="https://github.com/winkjs/wink-nlp/blob/master/README.md#speed--accuracy">more</a>
    </div>
    <div class="col-md-4">
      <a href="https://github.com/winkjs/wink-nlp/blob/master/README.md#speed--accuracy">
        <img src="/images/visibility.svg" alt="">
      </a>
      <h3>94.7% accuracy</h3>
      PoS tagging on a subset of the WSJ corpus, <a href="https://github.com/winkjs/wink-nlp/blob/master/README.md#speed--accuracy">including tokenization</a> of raw text
    </div>
    <div class="col-md-4">
      <a href="https://github.com/winkjs/wink-nlp/blob/master/README.md#memory-requirement">
        <img src="/images/memory.svg" alt="">
      </a>
      <h3>80MB peak memory</h3>
      When <a href="https://github.com/winkjs/wink-nlp/blob/master/README.md#memory-requirement">processing a 350 page book</a> with over 125,000 tokens.
    </div>

  </div>

</main>

<div class="feat">
<div class="container">
  <div class="col-md-12">
    <p class="subhero">
      Open Source packages for
      <a href="/packages.html">NLP</a>,
      <a href="/packages.html#ml">ML</a> and
      <a href="/packages.html#stats">Statistics</a>
      in Node JS to build production grade solutions
    </p>
  </div>
</div>
</div>

<%= partial "signup" %>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@winkjs_org" />
<meta name="twitter:creator" content="@winkjs_org" />
<meta property="og:url" content="https://winkjs.org/" />
<meta property="og:title" content="Wink JS - Stats, NLP & Machine Learning" />
<meta property="og:description" content="Developer friendly Natural Language Processing. Open Source packages for NLP, ML and Statistics in Node JS to build production grade solutions." />
<meta property="og:image" content="https://winkjs.org/images/opengraph.png" />
<meta property="og:type" content="website"/>
