<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>

<header>
  <div class="container masthead" id="masthead">
    <div class="row">
      <p class="hero">
        Developer friendly<br>
        Natural Language Processing
      </p>
      <p>The right balance of performance and accuracy in Node.js</p>
      <br><br>
      <a href="https://www.npmjs.com/package/wink-nlp">Download</a>
      <a href="/wink-nlp/getting-started.html">Get started</a>
    </div>
  </div>
  <div id="particles-js"></div>
</header>

<main class="container">

  <div class="highlight-section">
    <div class="col-md-6">
<pre><code class="javascript">doc.tokens().filter(t => {
  return (
    t.out(its.type) === 'word' &&
    !t.out(its.stopWordFlag)
  );
}).out();
// -> [ 'intuitive', 'API', 'lets',
// 'started', 'quick', 'results', 'looking' ]</code></pre>
    </div>
    <div class="col-md-6 highlight">
      <h2>Easy to use API</h2>
      <p>
        An intuitive API lets you get started quick and get the results you’re
        looking for. Use familiar functions like
        <a href="https://winkjs.org/wink-nlp/each.html">each</a>
        and <a href="https://winkjs.org/wink-nlp/filter.html">filter</a>, or
        <a href="https://winkjs.org/wink-nlp/out.html">output</a>
        to native JavaScript data types.</p>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="highlight-section">
    <div class="col-md-6 highlight" data-aos="fade-up">
      <h2>All the NLP you’ll need</h2>
      <p>
        Powerful NLP functions and helpers to get you directly what you need.
        Whether its
        <a href="https://winkjs.org/wink-nlp/part-of-speech.html">POS tags</a>
        , sentiment analysis, or getting a list of frequent words, it’s all
        <a href="https://winkjs.org/wink-nlp/its-as-helper.html">right here</a>!
      </p>
    </div>
    <div class="col-md-6 flip-order">
      <pre><code class="javascript">doc.tokens().out(its.pos);
doc.tokens().out(its.normal, as.freqTable );
doc.sentences().out(its.sentiment);
</code></pre>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="highlight-section">
    <div class="col-md-6">
      <pre><code class="javascript">const winkNLP = require('wink-nlp');
// Load light english language model.
const model = require('wink-eng-lite-model');
const nlp = winkNLP(model);</code></pre>
    </div>
    <div class="col-md-6 highlight" data-aos="fade-up">
      <h2>Multiple Models</h2>
      <p>
        We have a
        <a href="https://github.com/winkjs/wink-eng-lite-model">light model for English</a>
        (under 3MB) with many more on the way! Looking for something domain
        specific, or for a particular language? We’re currently open for
        consulting projects, feel free to
        <a href="mailto:contactus@graype.in">contactus@graype.in</a>!
      </p>
    </div>
  </div>

  <div class="row about-stats">
    <div class="col-md-4">
      <a href="https://github.com/winkjs/wink-nlp/blob/master/README.md#speed--accuracy">
        <img src="/images/speed.svg" alt="">
      </a>
      <h3>+500,000 tokens/second</h3>
      Full NLP pipeline - tokenization, SBD, sentiment analysis, POS and <a href="https://github.com/winkjs/wink-nlp/blob/master/README.md#speed--accuracy">more</a>
    </div>
    <div class="col-md-4">
      <a href="https://github.com/winkjs/wink-nlp/blob/master/README.md#speed--accuracy">
        <img src="/images/visibility.svg" alt="">
      </a>
      <h3>94.7% accuracy</h3>
      PoS tagging on a subset of the WSJ corpus, <a href="https://github.com/winkjs/wink-nlp/blob/master/README.md#speed--accuracy">including tokenization</a> of raw text
    </div>
    <div class="col-md-4">
      <a href="https://github.com/winkjs/wink-nlp/blob/master/README.md#memory-requirement">
        <img src="/images/memory.svg" alt="">
      </a>
      <h3>80MB peak memory</h3>
      When <a href="https://github.com/winkjs/wink-nlp/blob/master/README.md#memory-requirement">processing a 350 page book</a> with over 125,000 tokens.
    </div>

  </div>

</main>

<div class="feat">
<div class="container">
  <div class="col-md-12">
    <p class="subhero">
      Open Source packages for
      <a href="/packages.html">NLP</a>,
      <a href="/packages.html#ml">ML</a> and
      <a href="/packages.html#stats">Statistics</a>
      in Node JS to build production grade solutions
    </p>
  </div>
</div>
</div>

<%= partial "signup" %>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@winkjs_org" />
<meta name="twitter:creator" content="@winkjs_org" />
<meta property="og:url" content="https://winkjs.org/" />
<meta property="og:title" content="Wink JS - Stats, NLP & Machine Learning" />
<meta property="og:description" content="Breaking down Artificial Intelligence into its building blocks. Open Source packages for NLP, ML and Statistics in Node JS to build production grade solutions." />
<meta property="og:image" content="https://winkjs.org/images/opengraph.png" />
<meta property="og:type" content="website"/>
