<div id="packages-list">
    <nav class="container">
      <h1 class="col-md-12">Wink Packages</h1>
      <div class="col-md-4">
        <dl>
          <dt><a href="https://www.npmjs.com/package/wink-statistics">statistics</a></dt>
          <dd>
            Fast and Numerically Stable Statistical Analysis Utilities
            <br><a href="https://github.com/winkjs/wink-statistics">Github</a>
            <strong>&middot;</strong>
            <a href="http://winkjs.org/wink-statistics/">Documentation</a>
          </dd>

          <dt><a href="https://www.npmjs.com/package/wink-nlp-utils">nlp utils</a></dt>
          <dd>
            NLP Functions for amplifying negations, managing elisions, creating
            ngrams, stems, phonetic codes to tokens and more.
            <br><a href="https://github.com/winkjs/wink-nlp-utils">Github</a>
            <strong>&middot;</strong>
            <a href="http://winkjs.org/wink-nlp-utils/">Documentation</a>
          </dd>

          <dt><a href="https://www.npmjs.com/package/wink-tokenizer">tokenizer</a></dt>
          <dd>
            Multilingual tokenizer that automatically tags each token with its
            type such as word, email, time or hashtag.
            <br><a href="https://github.com/winkjs/wink-tokenizer">Github</a>
            <strong>&middot;</strong>
            <a href="http://winkjs.org/wink-tokenizer/">Documentation</a>
          </dd>

          <dt><a href="https://www.npmjs.com/package/wink-naive-bayes-text-classifier">naive bayes text classifier</a></dt>
          <dd>
            Configurable Naive Bayes Classifier for text with cross-validation
            support
            <br><a href="https://github.com/winkjs/wink-naive-bayes-text-classifier">Github</a>
            <strong>&middot;</strong>
            <a href="http://winkjs.org/wink-naive-bayes-text-classifier/">Documentation</a>
          </dd>

          <dt><a href="https://www.npmjs.com/package/wink-sentiment">sentiment</a></dt>
          <dd>
            Accurate and fast sentiment scoring of phrases with emoticons
            &amp; emojis
            <br><a href="https://github.com/winkjs/wink-sentiment">Github</a>
            <strong>&middot;</strong>
            <a href="http://winkjs.org/wink-sentiment/">Documentation</a>
          </dd>
        </dl>
      </div>

      <div class="col-md-4">
        <dl>
          <dt><a href="https://www.npmjs.com/package/wink-pos-tagger">pos tagger</a></dt>
          <dd>
            English Part-of-speech (POS) tagger
            <br><a href="https://github.com/winkjs/wink-pos-tagger">Github</a>
            <strong>&middot;</strong>
            <a href="http://winkjs.org/wink-pos-tagger/">Documentation</a>
          </dd>

          <dt><a href="https://www.npmjs.com/package/wink-porter2-stemmer">porter2 stemmer</a></dt>
          <dd>
            Javascript Implementation of Porter Stemmer Algorithm V2 by
            Dr Martin F Porter
            <br><a href="https://github.com/winkjs/wink-porter2-stemmer">Github</a>
            <strong>&middot;</strong>
            <a href="http://winkjs.org/wink-porter2-stemmer/">Documentation</a>
          </dd>

          <dt><a href="https://www.npmjs.com/package/wink-lemmatizer">lemmatizer</a></dt>
          <dd>
            English lemmatizer
            <br><a href="https://github.com/winkjs/wink-lemmatizer">Github</a>
            <strong>&middot;</strong>
            <a href="http://winkjs.org/wink-lemmatizer/">Documentation</a>
          </dd>

          <dt><a href="https://www.npmjs.com/package/wink-regression-tree">regression tree</a></dt>
          <dd>
            Decision Tree to predict the value of a continuous target variable
            <br><a href="https://github.com/winkjs/wink-regression-tree">Github</a>
            <strong>&middot;</strong>
            <a href="http://winkjs.org/wink-regression-tree/">Documentation</a>
          </dd>

          <dt><a href="https://www.npmjs.com/package/wink-bm25-text-search">bm25 text search</a></dt>
          <dd>
            Fast Full Text Search based on BM25
            <br><a href="https://github.com/winkjs/wink-bm25-text-search">Github</a>
            <strong>&middot;</strong>
            <a href="http://winkjs.org/wink-bm25-text-search/">Documentation</a>
          </dd>
        </dl>
      </div>

      <div class="col-md-4">
        <dl>
          <dt><a href="https://www.npmjs.com/package/wink-distance">distance</a></dt>
          <dd>
            Distance/Similarity functions for Bag of Words, Strings, Vectors and
            more
            <br><a href="https://github.com/winkjs/wink-distance">Github</a>
            <strong>&middot;</strong>
            <a href="http://winkjs.org/wink-distance/">Documentation</a>
          </dd>

          <dt><a href="https://www.npmjs.com/package/wink-jaro-distance">jaro distance</a></dt>
          <dd>
            An Implementation of Jaro Distance Algorithm by Matthew A. Jaro
            <br><a href="https://github.com/winkjs/wink-jaro-distance">Github</a>
            <strong>&middot;</strong>
            <a href="http://winkjs.org/wink-jaro-distance/">Documentation</a>
          </dd>

          <dt><a href="https://www.npmjs.com/package/wink-lexicon">lexicon</a></dt>
          <dd>
            English lexicon useful in NLP/NLU
            <br><a href="https://github.com/winkjs/wink-lexicon">Github</a>
            <strong>&middot;</strong>
            <a href="http://winkjs.org/wink-lexicon/">Documentation</a>
          </dd>

          <dt><a href="https://www.npmjs.com/package/wink-helpers">helpers</a></dt>
          <dd>
            Helper functions for Javascript arrays and objects
            <br><a href="https://github.com/winkjs/wink-helpers">Github</a>
            <strong>&middot;</strong>
            <a href="http://winkjs.org/wink-helpers/">Documentation</a>
          </dd>
        </dl>

      </div>
    </nav>
    <br><br>
  </div>
</div>
