---
title: Showcase and Demos
---

<div id="showcase-list">
    <div class="container">
      <h2 class="col-md-12">Showcase</h2>
      <div class="col-md-4">
        <%= partial( :showcase, :locals => {
          :name => "Hashtag Sentiment",
          :url => "/showcase-hashtag/",
          :description => "Sentiment analysis of tweets of a hashtags on Twitter using <a href='/wink-nlp/'>winkNLP</a>. Read our <a href='/wink-nlp/how-to-sentiment-analysis-javascript.html'>how to sentiment analysis</a> guide.",
          :image => "showcase-hashtag.jpg"
        }) %>
      </div>

      <div class="col-md-4">
        <%= partial( :showcase, :locals => {
          :name => "Wikipedia Timeline",
          :url => "/showcase-timeline/",
          :description => "Named entity extraction and timeline generation from a Wikipedia article using <a href='/wink-nlp/'>winkNLP</a>. Read our <a href='/wink-nlp/how-to-find-date-time-in-text.html'>how to extract date and time from text</a> guide.",
          :image => "showcase-timeline.jpg"
        }) %>
      </div>

      <div class="col-md-4">
        <%= partial( :showcase, :locals => {
          :name => "Sentimental",
          :url => "/showcase-sentiment/",
          :description => "Visualize how <a href='https://github.com/winkjs/wink-sentiment'>wink-sentiment</a> interprets words, phrases and even emojis. Read the <a href='/blog/sentimental-ai.html'>blog post</a> to find out more.",
          :image => "showcase-sentiment.gif"
        }) %>
      </div>

      <div class="clear">&nbsp;<br><br></div>

      <div class="col-md-4">
        <%= partial( :showcase, :locals => {
          :name => "Browser Search",
          :url => "/showcase-bm25-text-search/",
          :description => "Blazing fast search with higlighting, now directly running in the browser using <a href='https://github.com/winkjs/wink-bm25-text-search'>wink-bm25-text-search</a>. Find <a href='/blog/browser-search.html'>out how we did it</a>.",
          :image => "showcase-browser-search.gif"
        }) %>
      </div>
    </div>
    <br><br>
  </div>
</div>
