<div id="showcase-list">
    <div class="container">
      <h1 class="col-md-12">Showcase</h1>
      <div class="col-md-4">
        <%= partial( :showcase, :locals => {
          :name => "Sentimental",
          :url => "/showcase-sentiment/",
          :description => "Visualize how <a href='https://github.com/winkjs/wink-sentiment'>wink-sentiment</a> interprets words, phrases and even emojis. Read the <a href='/blog/sentimental-ai.html'>blog post</a> to find out more.",
          :image => "showcase-sentiment.gif"
        }) %>
      </div>

      <div class="col-md-4">
        <%= partial( :showcase, :locals => {
          :name => "Browser Search",
          :url => "/showcase-bm25-text-search/",
          :description => "Blazing fast search with higlighting, now directly running in the browser using <a href='https://github.com/winkjs/wink-bm25-text-search'>wink-bm25-text-search</a>. Find <a href='/blog/browser-search.html'>out how we did it</a>.",
          :image => "showcase-browser-search.gif"
        }) %>
      </div>
    </div>
    <br><br>
  </div>
</div>
