---
title: Sentiment analysis in JavaScript
---

# How to do sentiment analysis?

Sentiment analysis is used to check if a phrase has positive or negative sentiment. To get the sentiment score, start by reading the phrase using <a href="https://winkjs.org/wink-nlp/read-doc.html">readDoc</a>. Then using the `its.sentiment` property of the <a href="/wink-nlp/leveraging-out.html">out()</a> method, get the sentiment score of the phrase. This is how you can check if a phrase is positive or negative:

<pre class="prettyprint source lang-javascript"><code>// Load wink-nlp package & helpers.
const winkNLP = require( 'wink-nlp' );
const its = require( 'wink-nlp/src/its.js' );
const model = require( 'wink-eng-lite-model' );
const nlp = winkNLP( model );

const text = 'Very excited to be part of the @winkjs_org team:D!';
const doc = nlp.readDoc( text );

// Calculate sentiment score
const sentiment = doc.out( its.sentiment );
console.log( 'Sentiment Score:', sentiment );

if( sentiment > 0 ) {
  console.log( 'Sentiment: Positive' );
} else {
  console.log( 'Sentiment: Negative' );
}

// -> Sentiment Score: 0.6
// -> Sentiment: Positive</code></pre>

The sentiment score will be between `-1` and `1`, with `0` representing an overall neutral sentiment. You can get the sentiment of the entire  document, or a single sentence in a text.

Sentiment analysis can be used to judge the overall response to an event, product etc. In chatbots, it can be used to change the response based on the sentiment of the message it has received. See our <a href="https://winkjs.org/showcase-hashtag/">Twitter Hashtag showcase</a> to see this in action.

winkNLP's <a href="https://github.com/winkjs/wink-eng-lite-model">English language lite model</a> uses <a href="https://github.com/winkjs/wink-eng-lite-model/blob/master/ACKNOWLEDGEMENT.md#ml-senticon">ML-SentiCon</a> as a base with further training. For emojis it uses the <a href="https://github.com/winkjs/wink-eng-lite-model/blob/master/ACKNOWLEDGEMENT.md#emoji-sentiment-ranking">Emoji Sentiment Ranking</a>. Together, they deliver an <a href="https://github.com/winkjs/wink-eng-lite-model#sentiment-analysis">f-score</a> of about 84.5%.
