---
title: How to's
---

# How to's


<div class="l-horizontal">
  <a href="wink-nlp-in-browsers.html" class="bottom-nav-link">
    <span class="bottom-nav-link__title">Previous</span>
    WinkNLP in browsers
  </a>
  <div class="empty-nav-link">&nbsp;</div>
</div>
