---
title: its and as helper
---

# <code>its</code> helper

The winkNLP document, collection and item have several __contextual__ properties that are accessible via <code>its.<strong>propertyName</strong></code>, an argument of the `out()` method.

The bold part of the argument, i.e., <code><strong>propertyName</strong></code>, needs to be substituted with a value from the following table, according to requirement. For example, after substituting the value, the argument can be `its.stopWordFlag`, `its.shape`, `its.vector`, etc. The default value of this argument is `its.value`.

The method `out( its.value )` returns a _string_ when it is applied to a `document` or `item` and an _array of strings_ when it is applied to a `collection`. The other properties follow the same behaviour.

For example, `token.out( its.abbrevFlag )` returns a `boolean` value, whereas `tokens().out( its.abbrevFlag )` returns a `boolean` array. This array holds the return value of each `token.out( its.abbrevFlag )` for the tokens collection.

__Examples:__
<pre class="prettyprint source lang-javascript"><code>const text = 'I work for AI Inc.';
const doc = nlp.readDoc( text );
// Check abbreviation flag for a token item
const t1 = doc.tokens().itemAt( 0 ) // -> I
console.log( t1.out(its.abbrevFlag) );
// -> false

const t2 = doc.tokens().itemAt( 4 ) // -> Inc.
console.log( t2.out(its.abbrevFlag) );
// -> true

// Check abbreviation flag for a token collection
console.log(doc.tokens().out(its.abbrevFlag));
// -> [ false, false, false, false, true ]</code></pre>

<div class="docs-tip">
  <strong>Convention:</strong> In the following table, if a <code><strong>propertyName</strong></code> applies to any winkNLP <strong>item</strong> type, then it applies to its corresponding collection as well. For example, as the table mentions that <code>its.abbrevFlag</code> applies to a token item, then it also applies to a token collection.
</div>

## propertyName

<table>
  <tr>
    <th>propertyName</th>
    <th>Description</th>
    <th>Applies to</th>
    <th>Type</th>
  </tr>

  <tr>
    <td><code>its.abbrevFlag</code></td>
    <td>
      <code>true</code> if a token is an abbreviation. Common abbreviations like honorifics, unit of measures, education qualifications and more are a part of the lexicon. All initials followed by a period sign are flagged as abbreviations, even if they are not a part of the lexicon. For example, “AI” will not be flagged as an abbreviation, but “A.I.” will be.
    </td>
    <td>Token</td>
    <td><code>boolean</code></td>
  </tr>

  <tr>
    <td><code>its.case</code></td>
    <td>
      lowerCase, upperCase, titleCase or other (for digits, symbols, etc.)
    </td>
    <td>Token</td>
    <td><code>string</code></td>
  </tr>

  <tr>
    <td><code>its.contractionFlag</code></td>
    <td>
      <code>true</code> if a token is a contraction. Here is an example in English: “Can’t stop watching Netflix”
      Token: Ca, contractionFlag: <code>true</code>
      Token: n't, contractionFlag: <code>true</code>
      Token: stop, contractionFlag: <code>false</code>
    </td>
    <td>Token</td>
    <td><code>boolean</code></td>
  </tr>

  <tr>
    <td><code>its.detail</code></td>
    <td>
      The value and type of an entity together in an object. For example, {value: 'March 15, 1972', type: 'DATE' }
    </td>
    <td>Entity</td>
    <td><code>object</code></td>
  </tr>

  <tr>
    <td><code>its.lemma</code></td>
    <td>
      <a href="https://github.com/winkjs/wink-nlp/issues/6">Coming soon</a>
    </td>
    <td>—</td>
    <td>—</td>
  </tr>

  <tr>
    <td><code>its.markedUpText</code></td>
    <td>
      JavaScript string equivalent of text marked up using the <code>markup()</code> method
    </td>
    <td>Document, Sentence</td>
    <td><code>string</code></td>
  </tr>

  <tr>
    <td><code>its.negationFlag</code></td>
    <td>
      <code>true</code> if a token is negated. In English, tokens could be negated by words like not, neither, nor, rarely, scarcely, etc. For example, for the text “I didn’t like it.” , the negationFlag will be <code>true</code>
    </td>
    <td>Document, Sentence, Token</td>
    <td><code>boolean</code></td>
  </tr>

  <tr>
    <td><code>its.normal</code></td>
    <td>
      The lower-cased form of a token. In a document, sentence or entity whitespaces are limited to one. This property is applicable to latin script languages such as English or French. When used in english language, it maps the British spelling to its equivalent American spelling, if any. Refer to normalization rules in the language model.
    </td>
    <td>Document, Sentence, Entity, Token</td>
    <td><code>string</code></td>
  </tr>

  <tr>
    <td><code>its.pos</code></td>
    <td><a href="part-of-speech.html">Part-of-speech</a> tag of the token.</td>
    <td>Token</td>
    <td><code>string</code></td>
  </tr>

  <tr>
    <td><code>its.preceedingSpaces</code></td>
    <td>Whitespaces before a token in string format</td>
    <td>Token</td>
    <td><code>string</code></td>
  </tr>

  <tr>
    <td><code>its.prefix</code></td>
    <td>
      First two characters of a token. For example, the token “time” will have the prefix “ti”
    </td>
    <td>Token</td>
    <td><code>string</code></td>
  </tr>

  <tr>
    <td><code>its.sentiment</code></td>
    <td>Sentiment score with a value between -1 and +1</td>
    <td>Document, Sentence</td>
    <td><code>number</code></td>
  </tr>

  <tr>
    <td><code>its.shape</code></td>
    <td>
      The shape of a token is mapped as follows: Each alphabet in a token is mapped as X or x depending on its case, digits are mapped as d and all other characters are mapped as themselves. The shape code is trimmed after any four consecutive identical shape patterns. An example in English, shape of token “Billion” will be “Xxxxx” and not “Xxxxxxx”
    </td>
    <td>Token</td>
    <td><code>string</code></td>
  </tr>

  <tr>
    <td><code>its.span</code></td>
    <td>Indexes of the first and last token</td>
    <td>Document, Sentence, Entity</td>
    <td><code>number[]</code></td>
  </tr>

  <tr>
    <td><code>its.stem</code></td>
    <td>
      <a href="https://github.com/winkjs/wink-nlp/issues/7">Coming soon</a>
    </td>
    <td>—</td>
    <td>—</td>
  </tr>

  <tr>
    <td><code>its.stopWordFlag</code></td>
    <td>
      <code>true</code> if a token is a stop word. The representative list of   stop words are part of the language model.
    </td>
    <td>Token</td>
    <td><code>boolean</code></td>
  </tr>

  <tr>
    <td><code>its.suffix</code></td>
    <td>
      Last three characters of a token. For example, the token “time” will have the suffix “ime”
    </td>
    <td>Token</td>
    <td><code>string</code></td>
  </tr>

  <tr>
    <td><code>its.type</code></td>
    <td>
      The type of entity or token. For a complete list of entity and token types refer to the documentation of the desired language model.
    </td>
    <td>Entity, Token</td>
    <td><code>string</code></td>
  </tr>

  <tr>
    <td><code>its.uniqueId</code></td>
    <td>
      The unique ID of a token. For example, “Hello world” will have the following tokens:
      Token: Hello, Unique ID: 34736
      Token: World, Unique ID: 10980
    </td>
    <td>Token</td>
    <td><code>number</code></td>
  </tr>

  <tr>
    <td><code>its.value</code></td>
    <td>JavaScript sting equivalent. This is the default property.</td>
    <td>Document, Sentence, Entity, Token</td>
    <td><code>string</code></td>
  </tr>
</table>

# <code>as</code> helper

The `out()` method for a collection has two parameters — <code>its.<stong>propertyName</stong></code> and <code>as.<strong>reducedValue</strong></code>. As the name suggests, a collection can be reduced to frequency table, bag of words, etc via the <code>as.<strong>reducedValue</strong></code> argument.

The bold part of the argument, i.e., <code><strong>reducedValue</strong></code>, needs to be substituted with a value from the following table, according to requirement. For example, after substituting the value, the argument can be `as.freqTable`, `as.bigrams`, `as.array`, etc. The default value of this argument is `as.array`.

## reducedValue
<table>
  <tr>
    <th>reducedValue</th>
    <th>Description</th>
    <th>Applies to</th>
    <th>Type</th>
  </tr>
  <tr>
    <td><code>as.array</code></td>
    <td>Collection reduced to JavaScript array This is the default reducer.</td>
    <td>Sentences, Entities, Tokens</td>
    <td><code>string[]</code></td>
  </tr>
  <tr>
    <td><code>as.bigrams</code></td>
    <td>Tokens reduced to Bigrams</td>
    <td>Tokens</td>
    <td><code>2D string[]</code></td>
  </tr>
  <tr>
    <td><code>as.bow</code></td>
    <td>Bag of words of entities, entity types or tokens</td>
    <td>Entities, Tokens</td>
    <td><code>object</code></td>
  </tr>
  <tr>
    <td><code>as.freqTable</code></td>
    <td>A frequency table in descending order</td>
    <td>Sentence, Entities, Tokens</td>
    <td><code>2D number[]</code></td>
  </tr>
  <tr>
    <td><code>as.unique</code></td>
    <td>Unique array of entities, entity types or tokens</td>
    <td>Entities, Tokens</td>
    <td><code>string[]</code></td>
  </tr>
</table>
