---
title: Language models
---

# Language models
WinkNLP comes with pre-trained language models with gzipped sizes starting from ~890MB (expanded sizes less than 3MB) onwards:

## [wink-eng-lite-model](https://github.com/winkjs/wink-eng-lite-model)

<table>
  <tr>
    <td><b>Size</b></td>
    <td>~890KB gzipped.</td>
  </tr>

  <tr>
    <td><b>Usage</b></td>
    <td>Node.js server side. Recommended for Node.js version 12 and 14.</td>
  </tr>

  <tr>
    <td><b>Pipeline</b></td>
    <td>Sentence Boundary Detection (<code>sbd</code>), Negation Handling (<code>negation</code>), Sentiment Analysis (<code>sentiment</code>), Named Entity Recognition (<code>ner</code>), Part-of-speech tagging (<code>pos</code>), Custom Entity Recognition (<code>cer</code>).</td>
  </tr>

  <tr>
    <td><b>Model specific helpers</b></td>
    <td>
      <p><code>its.pos</code> — <a href="part-of-speech.html">part-of-speech tag</a>.</p>
      <p><code>its.lemma</code> — pos specific lemma.</p>
      <p><code>its.stem</code> — based on Porter Stemmer version 2.</p>
      <p><code>its.negationFlag</code> — true if a token is negated.</p>
      <p><code>its.stopWordFlag</code> — true if a token is a stop word.</p>
      <p><code>its.type, its.detail, its.span</code> — for <code>.entities.out()</code> and <code>.customEntities.out() methods.</code></p>
      <p><code>its.readabilityStats</code> —  includes Flesch Reading Ease Score (fres), list complex words and their count, reading time in mins & seconds, sentiment score and more.</p>
    </td>
  </tr>

  <tr>
    <td><b>Word Vectors</b></td>
    <td>NA</td>
  </tr>

  <tr>
    <td><b>License</b></td>
    <td>MIT</td>
  </tr>
</table>


## [wink-eng-lite-web-model](https://github.com/winkjs/wink-eng-lite-web-model)
<table>
  <tr>
    <td><b>Size</b></td>
    <td>~1MB gzipped.</td>
  </tr>

  <tr>
    <td><b>Usage</b></td>
    <td>Broswer and Node.js both. Recommended for Node.js version 16 and 18.</td>
  </tr>

  <tr>
    <td><b>Pipeline</b></td>
    <td>Sentence Boundary Detection (<code>sbd</code>), Negation Handling (<code>negation</code>), Sentiment Analysis (<code>sentiment</code>), Named Entity Recognition (<code>ner</code>), Part-of-speech tagging (<code>pos</code>), Custom Entity Recognition (<code>cer</code>).</td>
  </tr>

  <tr>
    <td><b>Model specific helpers</b></td>
    <td>
      <p><code>its.pos</code> — <a href="part-of-speech.html">part-of-speech tag</a>.</p>
      <p><code>its.lemma</code> — pos specific lemma.</p>
      <p><code>its.stem</code> — based on Porter Stemmer version 2.</p>
      <p><code>its.negationFlag</code> — true if a token is negated.</p>
      <p><code>its.stopWordFlag</code> — true if a token is a stop word.</p>
      <p><code>its.type, its.detail, its.span</code> — for <code>.entities.out()</code> and <code>.customEntities.out() methods.</code></p>
      <p><code>its.readabilityStats</code> —  includes Flesch Reading Ease Score (fres), list complex words and their count, reading time in mins & seconds, sentiment score and more.</p>
    </td>
  </tr>

  <tr>
    <td><b>Word Vectors</b></td>
    <td>NA</td>
  </tr>

  <tr>
    <td><b>License</b></td>
    <td>MIT</td>
  </tr>
</table>
