---
title: markup
---

# markup()
<code class="signature">markup( beginTag<sub>opt</sub>, endTag<sub>opt</sub> ) → { void }</code>

This API allows you to mark any `item` in winkNLP with your choice of tags like symbols, HTML tags, ANSI escape sequences, etc.

The tags can be changed according to the requirement. The default values are:

- `beginTag` - `<mark>`
- `endTag` - `</mark>`

While the markup() method returns nothing, you can view the marked up text in a JavaScript string format. Use the its.markedUpText() property as
parameter for out().

<div class="docs-tip">
  You can only view the marked up text in a winkNLP doc, collection of sentences and sentence item.
</div>

__Examples:__

<pre class="prettyprint source lang-javascript"><code>const text = 'The Godfather premiered on March 15, 1972. It was released on March 24, 1972.';
const patterns = [
  { name: 'event', patterns: [ '[VERB] [|ADP] [DATE|DURATION]' ] }
];
nlp.learnCustomEntities( patterns );</code></pre>

## sentence.markup()
<pre class="prettyprint source lang-javascript"><code>const sentence = doc.sentences().itemAt( 0 );
sentence.markup();

// marked-up text in document
console.log( doc.out( its.markedUpText ) );
// -> &lt;mark&gt;The Godfather premiered on March 15, 1972.&lt;/mark&gt; It was released
//    on March 24, 1972.

// marked-up text in collection of sentences
console.log( doc.sentences().out( its.markedUpText ) );
// -> [ '&lt;mark&gt;The Godfather premiered on March 15, 1972.&lt;/mark&gt;',
//      'It was released on March 24, 1972.' ]

// marked-up text in sentence item
console.log( sentence.out( its.markedUpText ) );
// -> &lt;mark&gt;The Godfather premiered on March 15, 1972.&lt;/mark&gt;</code></pre>

## entity.markup()
<pre class="prettyprint source lang-javascript"><code>doc.entities()
  .each( ( entity ) => {
    // Extract type of entity using .out() with “its.type” as input parameter.
    if( entity.out( its.type ) === 'DATE' ) {
      entity.markup();
    }
} );

// marked-up text in document
console.log( doc.out( its.markedUpText ) );
// -> The Godfather premiered on &lt;mark&gt;March 15, 1972&lt;/mark&gt;. It was released
//    on &lt;mark&gt;March 24, 1972&lt;/mark&gt;.

// marked-up text in collection of sentences
console.log( doc.sentences().out( its.markedUpText ) );
// -> [ 'The Godfather premiered on &lt;mark&gt;March 15, 1972&lt;/mark&gt;.',
//      'It was released on &lt;mark&gt;March 24, 1972&lt;/mark&gt;.']

// marked-up text in sentence item
console.log( doc.sentences().itemAt( 1 ).out( its.markedUpText ) );
// -> It was released on &lt;mark&gt;March 24, 1972&lt;/mark&gt;.</code></pre>

## customEntity.markup()
<pre class="prettyprint source lang-javascript"><code>const customEntity = doc.customEntities().itemAt( 1 );
customEntity.markup();

// marked-up text in document
console.log( doc.out( its.markedUpText ) );
// -> The Godfather premiered on March 15, 1972. It was &lt;mark&gt;released on March 24, 1972&lt;/mark&gt;.

// marked-up text in collection of sentences
console.log( doc.sentences().out( its.markedUpText ) );
// -> [ 'The Godfather premiered on March 15, 1972.',
//      'It was &lt;mark&gt;released on March 24, 1972&lt;/mark&gt;.' ]

// marked-up text in sentence item
console.log( doc.sentences().itemAt( 1 ).out( its.markedUpText ) );
// -> It was &lt;mark&gt;released on March 24, 1972&lt;/mark&gt;.</code></pre>

## token.markup()
<pre class="prettyprint source lang-javascript"><code>doc.tokens()
  .each( ( token ) => {
    // Extract type of entity using .out() with “its.type” as input parameter.
    if( token.out( its.type ) === 'number' ) {
      token.markup();
    }
} );

// marked-up text in document
console.log( doc.out( its.markedUpText ) );
// -> The Godfather premiered on March &lt;mark&gt;15&lt;/mark&gt;, &lt;mark&gt;1972&lt;/mark&gt;. It
//    was released on March &lt;mark&gt;24&lt;/mark&gt;, &lt;mark&gt;1972&lt;/mark&gt;.

//marked-up text in collection of sentences
console.log( doc.sentences().out( its.markedUpText ) );
// -> [ 'The Godfather premiered on March &lt;mark&gt;15&lt;/mark&gt;, &lt;mark&gt;1972&lt;/mark&gt;.',
//      'It was released on March &lt;mark&gt;24&lt;/mark&gt;, &lt;mark&gt;1972&lt;/mark&gt;.' ]

// marked-up text in sentence item
console.log( doc.sentences().itemAt( 1 ).out( its.markedUpText ) );
// -> It was released on March &lt;mark&gt;24&lt;/mark&gt;, &lt;mark&gt;1972&lt;/mark&gt;.</code></pre>
